In [150]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [151]:
df.rename(columns={'TransactionID':'ID','TransactionDate':'Date'},inplace=True)

In [152]:
print("summary of dataset",df.describe())

summary of dataset              ID    UserID  ProductID   Quantity
count  10.00000  9.000000  10.000000  10.000000
mean    5.50000  3.444444   3.400000   2.400000
std     3.02765  2.127858   1.074968   1.712698
min     1.00000  1.000000   2.000000   1.000000
25%     3.25000  2.000000   2.250000   1.000000
50%     5.50000  3.000000   4.000000   2.000000
75%     7.75000  3.000000   4.000000   3.000000
max    10.00000  7.000000   5.000000   6.000000

In [153]:
print("no. of rows",len(df))

no. of rows 10

In [154]:
print("no.of columns",len(df.columns))

no.of columns 5

In [155]:
print("row names",df.index.values)

row names [0 1 2 3 4 5 6 7 8 9]

In [156]:
print("column names",df.columns.values)

column names ['ID' 'Date' 'UserID' 'ProductID' 'Quantity']

In [157]:
df.rename(columns={"Quantity":"Quant","ProductID":"PID","UserID":"UID"},inplace=True)

In [158]:
ordered_df = df.sort_values(by=["ID"],
ascending=[False])
print("ordered data",ordered_df)

ordered data    ID        Date  UID  PID  Quant
9  10  2016-05-08  3.0    4      4
8   9  2015-04-24  7.0    4      3
7   8  2014-04-24  NaN    2      3
6   7  2013-12-30  3.0    4      1
5   6  2013-12-23  2.0    5      6
4   5  2013-06-06  2.0    4      1
3   4  2012-08-26  1.0    2      3
2   3  2011-06-16  3.0    3      1
1   2  2011-05-26  3.0    4      1
0   1  2010-08-21  7.0    2      1

In [159]:
ordered_df = df.sort_values(by=[ 'Quant'],
ascending=[False])
print(ordered_df)

   ID        Date  UID  PID  Quant
5   6  2013-12-23  2.0    5      6
9  10  2016-05-08  3.0    4      4
8   9  2015-04-24  7.0    4      3
3   4  2012-08-26  1.0    2      3
7   8  2014-04-24  NaN    2      3
0   1  2010-08-21  7.0    2      1
1   2  2011-05-26  3.0    4      1
2   3  2011-06-16  3.0    3      1
4   5  2013-06-06  2.0    4      1
6   7  2013-12-30  3.0    4      1

In [160]:
df=df[["PID","Quant","Date","ID","UID"]]

In [161]:
print(df)

   PID  Quant        Date  ID  UID
0    2      1  2010-08-21   1  7.0
1    4      1  2011-05-26   2  3.0
2    3      1  2011-06-16   3  3.0
3    2      3  2012-08-26   4  1.0
4    4      1  2013-06-06   5  2.0
5    5      6  2013-12-23   6  2.0
6    4      1  2013-12-30   7  3.0
7    2      3  2014-04-24   8  NaN
8    4      3  2015-04-24   9  7.0
9    4      4  2016-05-08  10  3.0

In [162]:
df=df[["UID","Quant","Date","ID","PID"]]
print(df)

   UID  Quant        Date  ID  PID
0  7.0      1  2010-08-21   1    2
1  3.0      1  2011-05-26   2    4
2  3.0      1  2011-06-16   3    3
3  1.0      3  2012-08-26   4    2
4  2.0      1  2013-06-06   5    4
5  2.0      6  2013-12-23   6    5
6  3.0      1  2013-12-30   7    4
7  NaN      3  2014-04-24   8    2
8  7.0      3  2015-04-24   9    4
9  3.0      4  2016-05-08  10    4

In [163]:
print("Second column")
print(df.columns.values[1])
print(df[df.columns[1]])

Second column
Quant
0    1
1    1
2    1
3    3
4    1
5    6
6    1
7    3
8    3
9    4
Name: Quant, dtype: int64

In [164]:
print("PID")
print(df['PID'].to_xarray())

PID
<xarray.DataArray 'PID' (index: 10)>
array([2, 4, 3, 2, 4, 5, 4, 2, 4, 4])
Coordinates:
  * index    (index) int64 0 1 2 3 4 5 6 7 8 9

In [165]:
row_subset=df.loc[[1,3,6]]
print(row_subset)

   UID  Quant        Date  ID  PID
1  3.0      1  2011-05-26   2    4
3  1.0      3  2012-08-26   4    2
6  3.0      1  2013-12-30   7    4

In [166]:
fstrow_subset=df.loc[0:2]
print(fstrow_subset)

   UID  Quant        Date  ID  PID
0  7.0      1  2010-08-21   1    2
1  3.0      1  2011-05-26   2    4
2  3.0      1  2011-06-16   3    3

In [167]:
row_subset=df.loc[len(df)-2:len(df)-1]
print(row_subset)

   UID  Quant        Date  ID  PID
8  7.0      3  2015-04-24   9    4
9  3.0      4  2016-05-08  10    4

In [168]:
row_subset=df.loc[0:len(df)-3]
print(row_subset)

   UID  Quant        Date  ID  PID
0  7.0      1  2010-08-21   1    2
1  3.0      1  2011-05-26   2    4
2  3.0      1  2011-06-16   3    3
3  1.0      3  2012-08-26   4    2
4  2.0      1  2013-06-06   5    4
5  2.0      6  2013-12-23   6    5
6  3.0      1  2013-12-30   7    4
7  NaN      3  2014-04-24   8    2

In [169]:
row_subset=df.loc[3:len(df)-1]
print(row_subset)

   UID  Quant        Date  ID  PID
3  1.0      3  2012-08-26   4    2
4  2.0      1  2013-06-06   5    4
5  2.0      6  2013-12-23   6    5
6  3.0      1  2013-12-30   7    4
7  NaN      3  2014-04-24   8    2
8  7.0      3  2015-04-24   9    4
9  3.0      4  2016-05-08  10    4

In [170]:
print(df[df['Quant']>1])

   UID  Quant        Date  ID  PID
3  1.0      3  2012-08-26   4    2
5  2.0      6  2013-12-23   6    5
7  NaN      3  2014-04-24   8    2
8  7.0      3  2015-04-24   9    4
9  3.0      4  2016-05-08  10    4

In [171]:
print(df[df['UID']==2])

   UID  Quant        Date  ID  PID
4  2.0      1  2013-06-06   5    4
5  2.0      6  2013-12-23   6    5

In [172]:
uid=df[df['UID']==2]
print(uid[uid['Quant']>1])

   UID  Quant        Date  ID  PID
5  2.0      6  2013-12-23   6    5

In [173]:
row_subset=df[df['Quant']+df['UID']>3]
print(row_subset)

   UID  Quant        Date  ID  PID
0  7.0      1  2010-08-21   1    2
1  3.0      1  2011-05-26   2    4
2  3.0      1  2011-06-16   3    3
3  1.0      3  2012-08-26   4    2
5  2.0      6  2013-12-23   6    5
6  3.0      1  2013-12-30   7    4
8  7.0      3  2015-04-24   9    4
9  3.0      4  2016-05-08  10    4

In [174]:
foo=[True,False,True,False,True,False,True,False,True,False]
print(df[foo])

   UID  Quant        Date  ID  PID
0  7.0      1  2010-08-21   1    2
2  3.0      1  2011-06-16   3    3
4  2.0      1  2013-06-06   5    4
6  3.0      1  2013-12-30   7    4
8  7.0      3  2015-04-24   9    4

In [ ]:
bar = [+1, -1, -1, -1, +1, -1, +1, -1, +1, -1]
barfoo = [False] * len(bar)

for i in range(len(bar)):
    if bar[i] > 0:
        barfoo[i] = True

print(df[barfoo])

   UID  Quant        Date  ID  PID   foo
0  7.0      1  2010-08-21   1    2   9.0
4  2.0      1  2013-06-06   5    4   6.0
6  3.0      1  2013-12-30   7    4   7.0
8  7.0      3  2015-04-24   9    4  11.0

In [176]:

print(df.iloc[:,[1,3]])

   Quant  ID
0      1   1
1      1   2
2      1   3
3      3   4
4      1   5
5      6   6
6      1   7
7      3   8
8      3   9
9      4  10

In [177]:
subset_cols=df[['ID','Date']]
print(subset_cols)

   ID        Date
0   1  2010-08-21
1   2  2011-05-26
2   3  2011-06-16
3   4  2012-08-26
4   5  2013-06-06
5   6  2013-12-23
6   7  2013-12-30
7   8  2014-04-24
8   9  2015-04-24
9  10  2016-05-08

In [178]:
columns_to_select = ['ID', 'Date', 'Quant']
subset_columns = df[columns_to_select]
print(subset_columns)

   ID        Date  Quant
0   1  2010-08-21      1
1   2  2011-05-26      1
2   3  2011-06-16      1
3   4  2012-08-26      3
4   5  2013-06-06      1
5   6  2013-12-23      6
6   7  2013-12-30      1
7   8  2014-04-24      3
8   9  2015-04-24      3
9  10  2016-05-08      4

In [179]:
columns_to_exclude = ['Quant', 'PID']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   UID        Date  ID
0  7.0  2010-08-21   1
1  3.0  2011-05-26   2
2  3.0  2011-06-16   3
3  1.0  2012-08-26   4
4  2.0  2013-06-06   5
5  2.0  2013-12-23   6
6  3.0  2013-12-30   7
7  NaN  2014-04-24   8
8  7.0  2015-04-24   9
9  3.0  2016-05-08  10

In [180]:
df['foo']=df['UID']+df['PID']
print(df)

   UID  Quant        Date  ID  PID   foo
0  7.0      1  2010-08-21   1    2   9.0
1  3.0      1  2011-05-26   2    4   7.0
2  3.0      1  2011-06-16   3    3   6.0
3  1.0      3  2012-08-26   4    2   3.0
4  2.0      1  2013-06-06   5    4   6.0
5  2.0      6  2013-12-23   6    5   7.0
6  3.0      1  2013-12-30   7    4   7.0
7  NaN      3  2014-04-24   8    2   NaN
8  7.0      3  2015-04-24   9    4  11.0
9  3.0      4  2016-05-08  10    4   7.0