In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
data1={
  'Name': ['Alice', 'Bob', 'Charlie'],
  'class': ['A', 'B', 'C'],
  'Age': [20, 21, 19],
  'City': ['New York', 'Los Angeles', 'Chicago'],
  'marks': [85, 88, 89],
  'grades' : ['A', 'B', 'A']
}
df=pd.DataFrame(data1)
print(df)

      Name class  Age         City  marks grades
0    Alice     A   20     New York     85      A
1      Bob     B   21  Los Angeles     88      B
2  Charlie     C   19      Chicago     89      A

In [10]:
df=pd.read_csv('transactions.csv')
# print(df)
print(df.head(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [13]:
print(df.tail(3))

   TransactionID TransactionDate  UserID  ProductID  Quantity
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [15]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [18]:
print(df['TransactionDate'])

0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object

In [20]:
print(df[['TransactionDate', 'ProductID', 'Quantity']])

  TransactionDate  ProductID  Quantity
0      2010-08-21          2         1
1      2011-05-26          4         1
2      2011-06-16          3         1
3      2012-08-26          2         3
4      2013-06-06          4         1
5      2013-12-23          5         6
6      2013-12-30          4         1
7      2014-04-24          2         3
8      2015-04-24          4         3
9      2016-05-08          4         4

In [21]:
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [24]:
print(df.iloc[3])

TransactionID               4
TransactionDate    2012-08-26
UserID                    1.0
ProductID                   2
Quantity                    3
Name: 3, dtype: object

In [30]:
filtered_df = df[df['Quantity']>3]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
9             10      2016-05-08     3.0          4         4

In [31]:
df.rename(columns={'TransactionDate':'Date'}, inplace=True)
print(df)

   TransactionID        Date  UserID  ProductID  Quantity
0              1  2010-08-21     7.0          2         1
1              2  2011-05-26     3.0          4         1
2              3  2011-06-16     3.0          3         1
3              4  2012-08-26     1.0          2         3
4              5  2013-06-06     2.0          4         1
5              6  2013-12-23     2.0          5         6
6              7  2013-12-30     3.0          4         1
7              8  2014-04-24     NaN          2         3
8              9  2015-04-24     7.0          4         3
9             10  2016-05-08     3.0          4         4

In [32]:
print(df.isnull().sum())

TransactionID    0
Date             0
UserID           1
ProductID        0
Quantity         0
dtype: int64

In [34]:
df_sorted = df.sort_values(by=["Quantity", "Date"],
ascending=[True, False])
print(df_sorted)

   TransactionID        Date  UserID  ProductID  Quantity
6              7  2013-12-30     3.0          4         1
4              5  2013-06-06     2.0          4         1
2              3  2011-06-16     3.0          3         1
1              2  2011-05-26     3.0          4         1
0              1  2010-08-21     7.0          2         1
8              9  2015-04-24     7.0          4         3
7              8  2014-04-24     NaN          2         3
3              4  2012-08-26     1.0          2         3
9             10  2016-05-08     3.0          4         4
5              6  2013-12-23     2.0          5         6

In [35]:
subset = df[df['Quantity'] > 1]
print(subset)

   TransactionID        Date  UserID  ProductID  Quantity
3              4  2012-08-26     1.0          2         3
5              6  2013-12-23     2.0          5         6
7              8  2014-04-24     NaN          2         3
8              9  2015-04-24     7.0          4         3
9             10  2016-05-08     3.0          4         4

In [36]:
subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   TransactionID        Date  UserID  ProductID  Quantity
0              1  2010-08-21     7.0          2         1
2              3  2011-06-16     3.0          3         1
5              6  2013-12-23     2.0          5         6

In [38]:
subset = df[df['Quantity'] > 1][['TransactionID',
'Date']]
print(subset)

   TransactionID        Date
3              4  2012-08-26
5              6  2013-12-23
7              8  2014-04-24
8              9  2015-04-24
9             10  2016-05-08

In [44]:
columns_to_select = ['TransactionID', 'Date']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID        Date
0              1  2010-08-21
1              2  2011-05-26
2              3  2011-06-16
3              4  2012-08-26
4              5  2013-06-06
5              6  2013-12-23
6              7  2013-12-30
7              8  2014-04-24
8              9  2015-04-24
9             10  2016-05-08

In [45]:
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID        Date  UserID
0              1  2010-08-21     7.0
1              2  2011-05-26     3.0
2              3  2011-06-16     3.0
3              4  2012-08-26     1.0
4              5  2013-06-06     2.0
5              6  2013-12-23     2.0
6              7  2013-12-30     3.0
7              8  2014-04-24     NaN
8              9  2015-04-24     7.0
9             10  2016-05-08     3.0

In [46]:
df['Date'] = pd.to_datetime(df['Date'])
print(df.dtypes)

TransactionID             int64
Date             datetime64[ns]
UserID                  float64
ProductID                 int64
Quantity                  int64
dtype: object

In [47]:
print(df)

   TransactionID       Date  UserID  ProductID  Quantity
0              1 2010-08-21     7.0          2         1
1              2 2011-05-26     3.0          4         1
2              3 2011-06-16     3.0          3         1
3              4 2012-08-26     1.0          2         3
4              5 2013-06-06     2.0          4         1
5              6 2013-12-23     2.0          5         6
6              7 2013-12-30     3.0          4         1
7              8 2014-04-24     NaN          2         3
8              9 2015-04-24     7.0          4         3
9             10 2016-05-08     3.0          4         4

In [50]:
df['Foo'] = df['UserID'] + df['ProductID']
print(df)

   TransactionID       Date  UserID  ProductID  Quantity   Foo
0              1 2010-08-21     7.0          2         1   9.0
1              2 2011-05-26     3.0          4         1   7.0
2              3 2011-06-16     3.0          3         1   6.0
3              4 2012-08-26     1.0          2         3   3.0
4              5 2013-06-06     2.0          4         1   6.0
5              6 2013-12-23     2.0          5         6   7.0
6              7 2013-12-30     3.0          4         1   7.0
7              8 2014-04-24     NaN          2         3   NaN
8              9 2015-04-24     7.0          4         3  11.0
9             10 2016-05-08     3.0          4         4   7.0

In [51]:
df.loc[len(df)] = [11, '2016-05-08', 3, 4,5,7]

In [52]:
print(df)

    TransactionID                 Date  UserID  ProductID  Quantity   Foo
0               1  2010-08-21 00:00:00     7.0          2         1   9.0
1               2  2011-05-26 00:00:00     3.0          4         1   7.0
2               3  2011-06-16 00:00:00     3.0          3         1   6.0
3               4  2012-08-26 00:00:00     1.0          2         3   3.0
4               5  2013-06-06 00:00:00     2.0          4         1   6.0
5               6  2013-12-23 00:00:00     2.0          5         6   7.0
6               7  2013-12-30 00:00:00     3.0          4         1   7.0
7               8  2014-04-24 00:00:00     NaN          2         3   NaN
8               9  2015-04-24 00:00:00     7.0          4         3  11.0
9              10  2016-05-08 00:00:00     3.0          4         4   7.0
10             11           2016-05-08     3.0          4         5   7.0

In [53]:
df.loc[df['UserID'] == 2, 'Quantity'] = 12
print(df)

    TransactionID                 Date  UserID  ProductID  Quantity   Foo
0               1  2010-08-21 00:00:00     7.0          2         1   9.0
1               2  2011-05-26 00:00:00     3.0          4         1   7.0
2               3  2011-06-16 00:00:00     3.0          3         1   6.0
3               4  2012-08-26 00:00:00     1.0          2         3   3.0
4               5  2013-06-06 00:00:00     2.0          4        12   6.0
5               6  2013-12-23 00:00:00     2.0          5        12   7.0
6               7  2013-12-30 00:00:00     3.0          4         1   7.0
7               8  2014-04-24 00:00:00     NaN          2         3   NaN
8               9  2015-04-24 00:00:00     7.0          4         3  11.0
9              10  2016-05-08 00:00:00     3.0          4         4   7.0
10             11           2016-05-08     3.0          4         5   7.0

In [54]:
df['NewColumn'] = df['Quantity'] * 2

In [55]:
print(df)

    TransactionID                 Date  UserID  ProductID  Quantity   Foo  \
0               1  2010-08-21 00:00:00     7.0          2         1   9.0
1               2  2011-05-26 00:00:00     3.0          4         1   7.0
2               3  2011-06-16 00:00:00     3.0          3         1   6.0
3               4  2012-08-26 00:00:00     1.0          2         3   3.0
4               5  2013-06-06 00:00:00     2.0          4        12   6.0
5               6  2013-12-23 00:00:00     2.0          5        12   7.0
6               7  2013-12-30 00:00:00     3.0          4         1   7.0
7               8  2014-04-24 00:00:00     NaN          2         3   NaN
8               9  2015-04-24 00:00:00     7.0          4         3  11.0
9              10  2016-05-08 00:00:00     3.0          4         4   7.0
10             11           2016-05-08     3.0          4         5   7.0

    NewColumn
0           2
1           2
2           2
3           6
4          24
5          24
6           2
7           6
8           6
9           8
10         10

In [56]:
edf=pd.read_csv('transactions.csv')
print(edf)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [57]:
edf.rename(columns={'TransactionDate':'Date'}, inplace=True)
print(edf)

   TransactionID        Date  UserID  ProductID  Quantity
0              1  2010-08-21     7.0          2         1
1              2  2011-05-26     3.0          4         1
2              3  2011-06-16     3.0          3         1
3              4  2012-08-26     1.0          2         3
4              5  2013-06-06     2.0          4         1
5              6  2013-12-23     2.0          5         6
6              7  2013-12-30     3.0          4         1
7              8  2014-04-24     NaN          2         3
8              9  2015-04-24     7.0          4         3
9             10  2016-05-08     3.0          4         4

In [58]:
edf.rename(columns={'TransactionID':'ID'}, inplace=True)
print(edf)

   ID        Date  UserID  ProductID  Quantity
0   1  2010-08-21     7.0          2         1
1   2  2011-05-26     3.0          4         1
2   3  2011-06-16     3.0          3         1
3   4  2012-08-26     1.0          2         3
4   5  2013-06-06     2.0          4         1
5   6  2013-12-23     2.0          5         6
6   7  2013-12-30     3.0          4         1
7   8  2014-04-24     NaN          2         3
8   9  2015-04-24     7.0          4         3
9  10  2016-05-08     3.0          4         4

In [60]:
print("total number of rows :",len(edf))

total number of rows : 10

In [61]:
print("total number of columns :",len(edf.columns))

total number of columns : 5

In [62]:
print("row names:",edf.index.values)

row names: [0 1 2 3 4 5 6 7 8 9]

In [63]:
print("column names:",edf.columns.values)

column names: ['ID' 'Date' 'UserID' 'ProductID' 'Quantity']

In [64]:
print(edf.head(10))

   ID        Date  UserID  ProductID  Quantity
0   1  2010-08-21     7.0          2         1
1   2  2011-05-26     3.0          4         1
2   3  2011-06-16     3.0          3         1
3   4  2012-08-26     1.0          2         3
4   5  2013-06-06     2.0          4         1
5   6  2013-12-23     2.0          5         6
6   7  2013-12-30     3.0          4         1
7   8  2014-04-24     NaN          2         3
8   9  2015-04-24     7.0          4         3
9  10  2016-05-08     3.0          4         4

             ID    UserID  ProductID   Quantity
count  10.00000  9.000000  10.000000  10.000000
mean    5.50000  3.444444   3.400000   2.400000
std     3.02765  2.127858   1.074968   1.712698
min     1.00000  1.000000   2.000000   1.000000
25%     3.25000  2.000000   2.250000   1.000000
50%     5.50000  3.000000   4.000000   2.000000
75%     7.75000  3.000000   4.000000   3.000000
max    10.00000  7.000000   5.000000   6.000000